.jumbotron {
    background-color: rgb(44, 44, 44);
    margin-bottom: 0px;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 0px;
}

.city-search {
    background-color: lightgray;
    padding: 10px;
}

.current-weather {
    padding: 10px;
}

.city {
    width: 100%;
    padding: 10px;
    color: gray;
    text-align: left;
}

#cityName {
    float: left;
}

.newDay {
    background-color: blue;
    color: white;
    margin: 5px;
    padding: 10px;
}
